<?xml version="1.0" encoding="utf-8" ?>
<siteMap>
  <menu>
    <id>1</id>
    <title>用户管理</title>
    <subMenu>
      <menu>
        <icon>UserGroup.gif</icon>
        <title>部门级别</title>
        <url>User/UserGroup.aspx</url>
        <description></description>
      </menu>
      <menu>
        <icon>user.gif</icon>
        <title>用户列表</title>
        <url>User/UserList.aspx</url>
        <description></description>
      </menu>
    </subMenu>
  </menu>
  <menu>
    <id>2</id>
    <title>商家管理</title>
    <subMenu>
      <menu>
        <icon>BusinessList.gif</icon>
        <title>添加商家</title>
        <url>Business/BusinessLogin.aspx</url>
        <description></description>
      </menu>
      <menu>
        <icon>BusinessList.gif</icon>
        <title>所有商家</title>
        <url>Business/BusinessList.aspx</url>
        <description></description>
      </menu>
      <menu>
        <icon>BusinessList.gif</icon>
        <title>签约商家</title>
        <url>Business/BusinessRealList.aspx</url>
        <description></description>
      </menu>
      <menu>
        <icon>BusinessList.gif</icon>
        <title>云卡商家</title>
        <url>Business/BusinessSaaSCardList.aspx</url>
        <description></description>
      </menu>
      <menu>
        <icon>BusinessList.gif</icon>
        <title>到期商家</title>
        <url>Business/BusinessExpire.aspx</url>
        <description></description>
      </menu>
      <menu>
        <icon>BusinessList.gif</icon>
        <title>联盟商家</title>
        <url>Business/BusinessAlliList.aspx</url>
        <description></description>
      </menu>
      <menu>
        <icon>AddValue.gif</icon>
        <title>充值续费</title>
        <url>Business/AddValue.aspx</url>
        <description></description>
      </menu>
      <menu>
        <icon>AddValue.gif</icon>
        <title>充值记录</title>
        <url>Business/AddValueRecord.aspx</url>
        <description></description>
      </menu>
      <menu>
        <icon>GenerateCard.gif</icon>
        <title>批量发卡</title>
        <url>Business/GenerateCard.aspx</url>
        <description></description>
      </menu>
      <menu>
        <icon>BusinessList.gif</icon>
        <title>POS终端管理</title>
        <url>Business/PosList.aspx</url>
        <description></description>
      </menu>
      <menu>
        <icon>BusinessList.gif</icon>
        <title>流水查询</title>
        <url>Business/OrderList.aspx</url>
        <description></description>
      </menu>
      <menu>
        <icon>BusinessList.gif</icon>
        <title>我的客户</title>
        <url>Business/MyBusiness.aspx</url>
        <description></description>
      </menu>
      <menu>
        <icon>user.gif</icon>
        <title>推荐记录</title>
        <url>User/RecommendList.aspx</url>
        <description></description>
      </menu>
      <menu>
        <icon>BusinessList.gif</icon>
        <title>作业管理</title>
        <url>Business/JobManagementList.aspx</url>
        <description></description>
      </menu>

      <menu>
        <icon>AddValue.gif</icon>
        <title>短信模板审核</title>
        <url>Business/CheckSmsTemplate.aspx</url>
        <description></description>
      </menu>

      <menu>
        <icon>GenerateCard.gif</icon>
        <title>商家文件列表</title>
        <url>Business/BusinessFile.aspx</url>
        <description></description>
      </menu>

      <menu>
        <icon>GenerateCard.gif</icon>
        <title>支付文档审核</title>
        <url>Business/CheckPaymentList.aspx</url>
        <description></description>
      </menu>
      <menu>
        <icon>GenerateCard.gif</icon>
        <title>电子发票审核</title>
        <url>Business/InvoiceAuditList.aspx</url>
        <description></description>
      </menu>
    </subMenu>
  </menu>
  <menu>
    <id>3</id>
    <title>代理商管理</title>
    <subMenu>
      <menu>
        <icon>AgencyList.gif</icon>
        <title>代理商列表</title>
        <url>Agent/AgentList.aspx</url>
        <description></description>
      </menu>
      <menu>
        <icon>UserGroup.gif</icon>
        <title>代理商级别</title>
        <url>Agent/AgentGroup.aspx</url>
        <description></description>
      </menu>
      <menu>
        <icon>AddValue.gif</icon>
        <title>充值记录</title>
        <url>Agent/AddValueRecord.aspx</url>
        <description></description>
      </menu>
    </subMenu>
  </menu>
  <menu>
    <id>4</id>
    <title>云推送管理</title>
    <subMenu>
      <menu>
        <icon>UserGroup.gif</icon>
        <title>会员列表</title>
        <url>PushMessage/MemberList.aspx</url>
        <description></description>
      </menu>
      <menu>
        <icon>UserGroup.gif</icon>
        <title>应用列表</title>
        <url>PushMessage/ApplicationList.aspx</url>
        <description></description>
      </menu>
      <menu>
        <icon>UserGroup.gif</icon>
        <title>终端列表</title>
        <url>PushMessage/TerminalList.aspx</url>
        <description></description>
      </menu>
      <menu>
        <icon>UserGroup.gif</icon>
        <title>终端用户</title>
        <url>PushMessage/TerminalUserList.aspx</url>
        <description></description>
      </menu>
    </subMenu>
  </menu>
  <menu>
    <id>5</id>
    <title>平台管理</title>
    <subMenu>
      <menu>
        <icon>EditionManagement.gif</icon>
        <title>软件类型</title>
        <url>Platform/SoftTypeList.aspx</url>
        <description></description>
      </menu>
      <menu>
        <icon>EditionManagement.gif</icon>
        <title>版本管理</title>
        <url>Platform/EditionManagement.aspx</url>
        <description></description>
      </menu>
      <menu>
        <icon>PackageList.gif</icon>
        <title>功能包列表</title>
        <url>Platform/PackageList.aspx</url>
        <description></description>
      </menu>
      <menu>
        <icon>ChanelList.gif</icon>
        <title>通道规则列表</title>
        <url>Platform/ChannelRule.aspx</url>
        <description></description>
      </menu>
      <!--<menu>
        <icon>ChanelList.gif</icon>
        <title>通道包列表</title>
        <url>Platform/ChannelPackage.aspx</url>
        <description></description>
      </menu>-->
      <menu>
        <icon>ChanelList.gif</icon>
        <title>通道列表</title>
        <url>Platform/ChanelList.aspx</url>
        <description></description>
      </menu>
      <menu>
        <icon>Question.gif</icon>
        <title>终端升级</title>
        <url>Platform/MobileUpdate.aspx</url>
      </menu>
      <menu>
        <icon>UserGroup.gif</icon>
        <title>在线用户分布</title>
        <url>Platform/OnlineUser.aspx</url>
      </menu>
    </subMenu>
  </menu>
  <menu>
    <id>6</id>
    <title>短信管理</title>
    <subMenu>
      <menu>
        <icon>SmsSend.gif</icon>
        <title>待发列表</title>
        <url>SmsMms/WaitSend.aspx</url>
        <description></description>
      </menu>
      <menu>
        <icon>SmsSend.gif</icon>
        <title>发送记录</title>
        <url>SmsMms/SmsSend.aspx</url>
        <description></description>
      </menu>
      <menu>
        <icon>SmsReceive.gif</icon>
        <title>短信接收</title>
        <url>SmsMms/SmsReceive.aspx</url>
        <description></description>
      </menu>
      <menu>
        <icon>SmsSend.gif</icon>
        <title>状态报告</title>
        <url>SmsMms/SmsStatusReport.aspx</url>
        <description></description>
      </menu>
      <menu>
        <icon>MmsSend.gif</icon>
        <title>短信黑名单</title>
        <url>SmsMms/SmsBlack.aspx</url>
        <description></description>
      </menu>
    </subMenu>
  </menu>
  <menu>
    <id>7</id>
    <title>系统设置</title>
    <subMenu>
      <menu>
        <icon>Bulletin.gif</icon>
        <title>系统公告</title>
        <url>Settings/Bulletin.aspx</url>
        <description></description>
      </menu>
      <menu>
        <icon>Parameter.gif</icon>
        <title>参数设置</title>
        <url>Settings/Parameter.aspx</url>
        <description></description>
      </menu>
      <menu>
        <icon>OperationLogs.gif</icon>
        <title>操作日志</title>
        <url>Settings/OperationLogs.aspx</url>
        <description></description>
      </menu>
      <menu>
        <icon>ChanelList.gif</icon>
        <title>升级通知</title>
        <url>Settings/UpgradeNote.aspx</url>
        <description></description>
      </menu>
    </subMenu>
  </menu>
  <menu>
    <id>8</id>
    <title>销售支持</title>
    <subMenu>
      <menu>
        <icon>ChanelList.gif</icon>
        <title>销售话术</title>
        <url>SalesSupport/SalesTalk.aspx</url>
        <description></description>
      </menu>
      <menu>
        <icon>ChanelList.gif</icon>
        <title>文件管理</title>
        <url>SalesSupport/FileManagement.aspx</url>
        <description></description>
      </menu>
      <menu>
        <icon>ChanelList.gif</icon>
        <title>问题答疑</title>
        <url>SalesSupport/FrequentQuestion.aspx</url>
        <description></description>
      </menu>
      <menu>
        <icon>Help.gif</icon>
        <title>帮助文档</title>
        <url>SalesSupport/HelpDocument.aspx</url>
        <description></description>
      </menu>
      <menu>
        <icon>ChanelList.gif</icon>
        <title>问卷记录</title>
        <url>SalesSupport/SurveyRecord.aspx</url>
        <description></description>
      </menu>
      <menu>
        <icon>ChanelList.gif</icon>
        <title>问卷分析</title>
        <url>SalesSupport/SurveyAnalysis.aspx</url>
        <description></description>
      </menu>
    </subMenu>
  </menu>
  <menu>
    <id>9</id>
    <title>云会员管理</title>
    <subMenu>
      <menu>
        <icon>AgencyList.gif</icon>
        <title>商家列表</title>
        <url>VipCloud/BusinessList.aspx</url>
        <description></description>
      </menu>
      <menu>
        <icon>AgencyList.gif</icon>
        <title>Wifi管理</title>
        <url>VipCloud/WifiManagement.aspx</url>
        <description></description>
      </menu>
      <menu>
        <icon>Help.gif</icon>
        <title>帮助文档</title>
        <url>VipCloud/FrequentQuestionList.aspx</url>
        <description></description>
      </menu>
      <menu>
        <icon>BusinessList.gif</icon>
        <title>云会员案例</title>
        <url>VipCloud/QRCodeCase.aspx</url>
        <description></description>
      </menu>
    </subMenu>
  </menu>
</siteMap>
