<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
      
      
      <pages styleSheetTheme="default" validateRequest="false" theme="default" controlRenderingCompatibilityVersion="4.5" clientIDMode="AutoID">
        <controls>
          <add tagPrefix="sz1card1" namespace="sz1card1.Common.UI" assembly="sz1card1.Common"/>
          <!--<add tagPrefix="fck" namespace="FredCK.FCKeditorV2" assembly="FredCK.FCKeditorV2"/>-->
        </controls>
      </pages>
    </system.web>


  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
</configuration>
