<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <NetworkTimeout>30</NetworkTimeout>
  <Charset>ISO8859-1</Charset>
  <MonitorTimeout></MonitorTimeout>
  <TrackerServers>
    <TrackerServer Address="192.168.1.11" Port="22122" PoolSize="250"/>
    <TrackerServer Address="192.168.1.15" Port="22122" PoolSize="250"/>
  </TrackerServers>
  <StorageServers>
    <StorageServer Address="192.168.1.17" Port="23000" PoolSize="250"></StorageServer>
    <StorageServer Address="192.168.1.18" Port="23000" PoolSize="250"></StorageServer>
  </StorageServers>
</configuration>