/********************************     Basic Structure     ********************************/
body {
    color: #3d4042;
    font-size: 14px;
    width: 100%;
    height: 100%;
    font-family: "微软雅黑";
}

* {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

a {
    color: #3d4042;
    text-decoration: none;
    cursor: pointer;
}

    a:hover {
        color: rgb(62,130,222);
    }

.dn {
    display: none;
}

.dib {
    display: inline-block;
}

.header {
    height: 60px;
    padding: 10px 20px;
}

    .header h1 {
    }

    .header p {
        display: block;
        height: 60px;
        position: absolute;
        top: 10px;
        right: 20px;
    }

.phone {
    display: inline-block;
    font-size: 26px;
    width: 150px;
    height: 58px;
    line-height: 58px;
    padding-left: 40px;
    color: #fd8504;
    vertical-align: middle;
    background: url(../images/phone.png) 0px 10px no-repeat;
}

.freeuse {
    margin-top: 15px;
    width: 130px;
    height: 58px;
    display: inline-block;
    vertical-align: middle;
    background: url(../images/shiyong1.png) 0 0 no-repeat;
}

.freedownload {
    margin-top: 15px;
    width: 148px;
    height: 58px;
    display: inline-block;
    vertical-align: middle;
    background: url(../images/freedownload.png) 0 0 no-repeat;
}

#loginbg {
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top center;
}

.section {
    /*background: url(../images/bg.jpg); background: url(http://www.sz1card1.com/Management/SalesSupport/DownloadFile.ashx?fileId=DF5503BE45AF42974C12FEBD2A1D380800AABB109C1E5B3EFFA2AC6C2CAA48870AE7528A6D2C8587);*/
}

.login {
    width: 26%;
    position: absolute;
    top: 20%;
    right: 4%;
    background: rgba(255,255,255,0.3);
    z-index: 100;
    -moz-box-shadow: 0.3px 0.3px 1px 1px #3d4042;
    -moz-border-radius: 4px;
    border-radius: 4px;
    behavior: url(../Images/ie-css3.htc);
}

    .login .tab {
        width: 100%;
        height: 36px;
        padding-top: 5px;
        text-align: center;
        position:relative;
    }
.notice {
    position:absolute;
    top:-29px;
    left:16px;
    background:url(../Images/tz.png) no-repeat;
    text-indent:20px;
    color:#FFF;
    font-size:12px;
    background-position-y:1px;
    cursor:pointer;
}

        .login .tab li {
            margin-top: 20px;
            width: 90px;
            height: 30px;
            /*line-height: 60px;*/
            display: inline-block;
            text-align: center;
            cursor: pointer;
            float: left;
            font-size: 20px;
            font-family: 微软雅黑;
            color: #ccc;
        }

            .login .tab li:hover {
                color: white;
            }

            .login .tab li.current {
                color: #fff;
                font-size: 21px;
                /*font-family: 微软雅黑;*/
                /*background: #fff;*/
            }

    .login form {
        padding: 5%;
    }

    .login p {
        padding: 2%;
        width: 100%;
        display: block;
    }

.p2 {
    /*text-align: center;*/
    display: table;
    width: 290px;
}

.p3 {
    display: table;
    height: 20px;
    font-size: 14px;
    font-family: 微软雅黑;
    text-align: center;
}

.txt {
    width: 80%;
    height: 24px;
    line-height: 24px;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.btn {
    display: block;
    text-align: center;
    width: 95%;
    height: 40px;
    border-radius: 5px;
    background-color: #D1EEEE; /*rgb(253,133,4);*/
    border: 0px;
    color: #0094ff;
    font-size: 18px;
    font-weight: bold;
    font-family: 微软雅黑;
    cursor: pointer;
    -moz-box-shadow: 0.3px 0.3px 1px 1px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0.3px 0.3px 1px 1px rgba(0, 0, 0, 0.4);
    box-shadow: 0.3px 0.3px 1px 1px rgba(0, 0, 0, 0.4);
}

.check {
    margin-left: 9%;
    width: 40%;
    height: 36px;
    cursor: pointer;
    vertical-align: top;
}

.remberPassword {
    color: white;
    /*float: left;*/
    /*margin-left: 30px;*/
    padding-right: 15px;
    vertical-align: middle;
    cursor: pointer;
}

#ckbRemeberPassword {
    vertical-align: middle;
    cursor: pointer;
}

.footer {
    height: 25px;
    padding: 20px 15px;
    line-height: 25px;
    overflow:hidden;
}

    .footer .webname {
        float:left;

    }
    
    .footer .website {
        float:right;
    }

    .footer .top {
        display: table-cell;
        padding-left: 60px;
        background: url(../images/laba.png) 20px 0 no-repeat;
    }

.login .loginform {
    padding: 15px 25px 0px 25px;
}

#txtCheck {
    width: 40%;
}

.login .operation {
    height: 100px;
    padding: 0px 25px 10px 25px;
}

.loading {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.4);
    line-height: 360px;
    text-align: center;
    z-index: 1001;
    display: none;
}

#loading-msg {
    font-weight: 600;
    font-size: 14px;
    color: #fff;
}

#imgLogo {
    width: 180px;
    height: 60px;
}

.upgrade {
    overflow: hidden;
    display: none;
    position: absolute;
    top: 85%;
    left: 40px;
    width: 1px;
    height: 1px;
    border: 1px solid #d7d7d7;
    background-color: White;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    z-index: 3000;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#909090,direction=120,strength=4); /*ie*/
    -moz-box-shadow: 2px 2px 10px #909090; /*firefox*/
    -webkit-box-shadow: 2px 2px 10px #909090; /*safari或chrome*/
    box-shadow: 2px 2px 10px #909090; /*opera或ie9*/
}

.close {
    height: 10px;
    padding: 10px 15px 20px 15px;
    border-bottom:1px solid #e5e5e5;
}

.close_more {
    overflow:hidden;
    width:150px;
    float:right;
}

.close_more > a, .close_more > span {
        vertical-align: middle;
        float: right;
        cursor: pointer;
}
.close_more  a {
       line-height:22px;
       margin-right:20px;
}
.title_upgrade {
    float:left;
}

.close_more  span{
     font-size: 21px;
     font-weight: 700;
     line-height: 1;
     text-shadow: 0 1px 0 #fff;
     font-family: inherit;
     color:#d7d7d7;
}
    .close_more span:hover {
        color:#666;
    }
.notetile {
    font-size: large;
    font-weight: bolder;
    width: 90%;
}

.notedetail {
    width: 90%;
}

.notepublishtime {
    float: right;
    margin-right: 10px;
}

.upinfo {
    cursor: pointer;
}

.contect {
    padding: 10px;
    vertical-align: middle;
}

    .contect li {
        border-bottom: 1px solid #e8e8e8;
        padding: 10px 0;
    }

        .contect li > h3 {
            padding: 5px 0;
        }

        .contect li a {
            color: Blue;
            text-decoration: underline;
        }

        .contect li > p {
            height: 22px;
            line-height: 22px;
        }

        .contect li div {
            text-indent: 2em;
            line-height: 22px;
        }

.lineheight {
    margin-bottom: 5px;
}

.title {
    margin-bottom: 8px;
    background-color: rgb(220,222,230);
}

#softkey {
    position: absolute;
    z-index: 10000;
    overflow: auto;
}

.key {
    background-image: url("../images/keyon.png");
    position: absolute;
    width: 32px;
    height: 36px;
    cursor: pointer;
    right: 13%;
}

.key1 {
    background-image: url("../images/keydown.png");
}

.reSetPassword {
    border-left: 1.5px solid;
    color: white;
    padding-left: 15px;
    /*margin-left: 10%;*/
    cursor: pointer;
    text-align: right;
    vertical-align: middle;
    text-decoration: none;
}

    .reSetPassword:hover {
        color: white;
        text-decoration: underline;
    }

.SetPwd {
    overflow: hidden;
    display: none;
    position: absolute;
    top: 20%;
    width: 1px;
    height: 1px;
    padding: 5px;
    border: 1px solid #909090;
    background-color: White;
    z-index: 2000;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#909090,direction=120,strength=4); /*ie*/
    -moz-box-shadow: 2px 2px 10px #909090; /*firefox*/
    -webkit-box-shadow: 2px 2px 10px #909090; /*safari或chrome*/
    box-shadow: 2px 2px 10px #909090; /*opera或ie9*/
}

.resetpwd {
    margin: 5px 10px;
}

    .resetpwd p {
        padding: 5px;
        width: 280px;
        display: block;
    }

        .resetpwd p .txt {
            width: 210px;
        }

#checkphone {
    width: 90px;
}

.getcheckcode {
    width: 110px;
    height: 36px;
    margin-left: 14px;
    border-radius: 4px;
    background-color: rgb(100, 171, 226);
    color: White;
    font-weight: bold;
    font-size: 14px;
    border: 0px;
}

    .getcheckcode:hover {
        background-color: rgb(71, 151, 213);
    }

    .getcheckcode:disabled {
        color: #cccccc;
        background: #acacac;
    }

.next {
    text-align: center;
}

.btnnext {
    width: 140px;
    height: 40px;
    margin-top: 3px;
    border-radius: 5px;
    background-color: #0094ff; /*rgb(253,133,4);*/
    border: 0px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    font-family: 微软雅黑;
}

    .btnnext:hover, .btn:hover {
        background-color: #CFCFCF; /*rgb(189,102,9);*/
    }

    .btnnext:disabled {
        color: #cccccc;
        background: #acacac;
    }

.prompt {
    width: 20px;
    height: 20px;
    vertical-align: sub;
}

#error1, #error2, #error3 {
    color: Red;
    padding-left: 5px;
}

#ImgCode {
    width: 20px;
    height: 20px;
    visibility: hidden;
    vertical-align: middle;
}

.password {
    background-color: #ccc;
    width: 30px;
    display: inline-block;
    color: White;
    text-align: center;
}

#rtMsg {
    color: white;
    display: block;
    width: 95%;
    height: 36px;
    line-height: 18px;
}

#btnmore {
    margin-right: 25px;
}

.ui-mask {
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    text-align: center;
}

    .ui-mask > span {
        font-size: 14px;
        font-weight: bold;
        color: #fff;
        margin-left: 5px;
    }

.icon {
    position: absolute;
    width: 24px;
    height: 24px;
    margin: 6px 0px 0px 5px;
    background: url(../images/icon4_login.png);
}

.pl35 {
    padding-left: 35px;
}

.iconaccont {
    background-position: -24px 0px;
}

.iconpwd {
    background-position: -48px 0px;
}

.iconphone {
    background-position: -72px 0px;
}

#capsLockTip {
    position: absolute;
    height: 12px;
    padding: 5px;
    text-align: right;
    display: none;
    border: 1px solid #dad699;
    background: #f9f5c7;
    border-radius: 2px;
    font-size: 8px;
    -moz-box-shadow: 0.3px 0.3px 1px 1px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0.3px 0.3px 1px 1px rgba(0, 0, 0, 0.4);
    box-shadow: 0.3px 0.3px 1px 1px rgba(0, 0, 0, 0.4);
}
